{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meta mask authentication</title>
    <link rel="shortcut icon" href=https://metamask.io/icons/icon-48x48.png?v=48400a28770e10dd52a8c0e539aeb282/>
  </head>
  <body>
    <div id="main">
      <div id="app"></div>
    </div>
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>